<div class="main-content">
    <div class="container-fluid ">
        <div class=" input-group mb-3 flex">
            <div class="special-edit">
                <input type="text" class="special-edit form-control" placeholder="Введите название маршрута" value="{{route?.name || ''}}"
                       aria-describedby="basic-addon2">
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Button</button>
            </div>
        </div>
        <br/>
        <div class="flex" id="map" style="width: 100%; height: 700px"></div>
    </div>
</div>

