.ya-map {
    width: 1000px;
    height: 500px;
}

.flex {
    display: flex;
    flex: auto;
}

.special-edit {
    position: relative;
}
.special-edit input {
    font-family: 'FontAwesome';
    font-size: 2rem;
    padding: .5rem 0 .5rem 2.5rem;
    width: 100%;
    border: none;
    border-bottom: transparent 3px solid;
    outline: 0;
    transition: .35s ease;
}
.special-edit input:hover, .special-edit input:focus {
    background-color: #f1f1f1;
    border-bottom: #ddd 3px dotted;
}
.special-edit:after {
    font-family: 'FontAwesome';
    content: '\f044';
    position: absolute;
    top: 1rem;
    left: .5rem;
    color: gray;
    font-size: 1.5rem;
}

body {
    margin: 3rem 5rem;
}
